/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}
header img {
  max-width: 400px;
}

article {
  display: flex;
  flex-direction: column;
  background-color: #E7E7E7;
  width: 470px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
article img {
  height: 200px;
  width: 470px;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px 10px 0px 0px;
}
article .description {
  display: flex;
  flex-direction: column;
}
article .description header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
article .description header h2 {
  font-size: 23px;
}
article .description header .time {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}
article .description header .time p {
  font-weight: 600;
  font-size: 20px;
}
article .description .recette {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 10px;
  padding-bottom: 20px;
  min-height: 150px;
}
article .description .recette .liste {
  padding-left: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 116px;
}
article .description .recette .liste li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
article .description .recette .liste span {
  font-weight: 600;
}
article .description .recette .explication {
  max-width: 225px;
  padding-right: 20px;
  font-family: "Roboto", sans-serif;
}
article .description .recette .explication p {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 116px;
}

article:hover {
  transform: scale(1.02);
}

body {
  padding: 10px;
  font-family: "Lato", sans-serif;
}

#recherche {
  max-width: 1600px;
  margin: auto;
}
#recherche .filter-show-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: normal;
  gap: 3px;
  padding-top: 20px;
}
#recherche .filter-show-div p {
  padding: 10px;
  background-color: #0366fa;
  width: fit-content;
  border-radius: 5px;
  color: white;
}
#recherche .recherche-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #E7E7E7;
  border-radius: 10px;
  margin-bottom: 10px;
}
#recherche .recherche-input input {
  width: 100%;
  border: 0;
  padding: 25px;
  background-color: #E7E7E7;
  font-size: 18px;
  border-radius: 10px;
}
#recherche .recherche-input i {
  font-size: 40px;
  padding: 15px;
}
#recherche .recherche-inputs {
  display: flex;
  flex-direction: row;
  padding: 50px 0px;
  flex-wrap: wrap;
}
#recherche .recherche-inputs .recherche-ingredients {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 10px 30px 10px 0px;
  border-radius: 10px;
  height: fit-content;
  position: relative;
  background-color: #3282F7;
}
#recherche .recherche-inputs .recherche-ingredients .input-div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
#recherche .recherche-inputs .recherche-ingredients input {
  background-color: #3282F7;
  border: 0;
  padding: 18px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
}
#recherche .recherche-inputs .recherche-ingredients input::placeholder {
  color: white;
}
#recherche .recherche-inputs .recherche-ingredients i {
  color: white;
  padding: 0px 10px;
  position: absolute;
  right: 0;
}
#recherche .recherche-inputs .ingredients-keywords {
  background-color: #3282F7;
  position: absolute;
  top: 40px;
  width: 645px;
  z-index: 100;
  color: white;
  border: 0;
  padding: 18px;
  border-radius: 10px;
}
#recherche .recherche-inputs .ingredients-keywords ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
}
#recherche .recherche-inputs .ingredients-keywords ul li {
  padding: 10px;
  margin: 2 px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  min-width: 30%;
  transition: background-color 0.2s ease-in-out;
}
#recherche .recherche-inputs .ingredients-keywords ul li:hover {
  background-color: #0366fa;
}
#recherche .recherche-inputs .recherche-appareils {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 10px 30px 10px 0px;
  border-radius: 10px;
  height: fit-content;
  position: relative;
  background-color: #68D9A4;
}
#recherche .recherche-inputs .recherche-appareils .input-div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
#recherche .recherche-inputs .recherche-appareils input {
  background-color: #68D9A4;
  border: 0;
  padding: 18px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
}
#recherche .recherche-inputs .recherche-appareils input::placeholder {
  color: white;
}
#recherche .recherche-inputs .recherche-appareils i {
  color: white;
  padding: 0px 10px;
  position: absolute;
  right: 0;
}
#recherche .recherche-inputs .appareils-keywords {
  background-color: #68D9A4;
  position: absolute;
  top: 40px;
  width: 645px;
  z-index: 100;
  color: white;
  border: 0;
  padding: 18px;
  border-radius: 10px;
}
#recherche .recherche-inputs .appareils-keywords ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
}
#recherche .recherche-inputs .appareils-keywords ul li {
  padding: 10px;
  margin: 2 px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  min-width: 30%;
  transition: background-color 0.2s ease-in-out;
}
#recherche .recherche-inputs .appareils-keywords ul li:hover {
  background-color: #4b9a75;
}
#recherche .recherche-inputs .recherche-ustensiles {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 10px 30px 10px 0px;
  border-radius: 10px;
  height: fit-content;
  position: relative;
  background-color: #ED6454;
}
#recherche .recherche-inputs .recherche-ustensiles .input-div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
#recherche .recherche-inputs .recherche-ustensiles input {
  background-color: #ED6454;
  border: 0;
  padding: 18px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
}
#recherche .recherche-inputs .recherche-ustensiles input::placeholder {
  color: white;
}
#recherche .recherche-inputs .recherche-ustensiles i {
  color: white;
  padding: 0px 10px;
  position: absolute;
  right: 0;
}
#recherche .recherche-inputs .ustensiles-keywords {
  position: absolute;
  top: 40px;
  width: 645px;
  z-index: 100;
  color: white;
  border: 0;
  padding: 18px;
  border-radius: 10px;
  background-color: #ED6454;
}
#recherche .recherche-inputs .ustensiles-keywords ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
}
#recherche .recherche-inputs .ustensiles-keywords ul li {
  padding: 10px;
  margin: 2 px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  min-width: 30%;
  transition: background-color 0.2s ease-in-out;
}
#recherche .recherche-inputs .ustensiles-keywords ul li:hover {
  background-color: #bf4e42;
}

#resultats {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 95px;
  row-gap: 40px;
  max-width: 1600px;
  margin: auto;
}

.tags-active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.tags-active .ingredientsUL {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.tags-active .ustensilesUL {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.tags-active .appareilsUL {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.tags-active li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 2 px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.tags-active .ingredients-active {
  background-color: #3282F7;
}
.tags-active .ustensiles-active {
  background-color: #ED6454;
}
.tags-active .appareils-active {
  background-color: #68D9A4;
}

.ingredients--selected {
  background-color: #0366fa;
}

.ustensiles--selected {
  background-color: #bf4e42;
}

.appareils--selected {
  background-color: #4b9a75;
}

.hidden {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
