body {
  padding: 10px;
  font-family: "Lato", sans-serif;
}

#recherche {
  max-width: 1600px;
  margin: auto;
  .filter-show-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height:normal;
    gap: 3px;


    padding-top: 20px;
    p {
      padding: 10px;
      background-color: #0366fa;
      width: fit-content;
      border-radius: 5px;
      color: white;
    }
  }
  .recherche-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: $grey-light;
    border-radius: 10px;
    margin-bottom: 10px;
    input {
      width: 100%;
      border: 0;
      padding: 25px;
      background-color: $grey-light;
      font-size: 18px;
      border-radius: 10px;
    }
    i {
      font-size: 40px;
      padding: 15px;
    }
  }
  .recherche-inputs {
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
    flex-wrap: wrap;
    .recherche-ingredients {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      background-color: $blue;
      margin: 10px 30px 10px 0px;
      border-radius: 10px;
      height: fit-content;
      position: relative;
      input {
        background-color: $blue;
        border: 0;
        padding: 18px;
        border-radius: 10px;
        font-size: 18px;
        color: white;
        &::placeholder {
          color: white;
        }
      }
      i {
        color: white;
        padding: 0px 10px;
        position: absolute;
        right: 0;
      }
    }
    .ingredients-keywords {
      background-color: $blue;
      color: white;
      border: 0;
      margin-top: 70px;
      padding: 18px;
      border-radius: 10px;
      position: absolute;
      &--close {
        display: flex;
        cursor: pointer;
        justify-content: flex-end;
      }
      ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        li {
          padding: 10px;
          margin: 2 px;
          border-radius: 5px;
          cursor: pointer;
          width: 30%;
          transition: background-color 0.2s ease-in-out;
          &:hover {
            background-color: #0366fa;
          }
        }
      }
    }
    .recherche-Appareil {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      background-color: $green;
      margin: 10px 30px 10px 0px;
      border-radius: 10px;
      height: fit-content;
      input {
        background-color: $green;
        border: 0;
        padding: 18px;
        border-radius: 10px;
        font-size: 18px;
        color: white;
        &::placeholder {
          color: white;
        }
      }
      i {
        color: white;
        padding: 0px 10px;
      }
    }
    .recherche-Ustensiles {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      background-color: $red;
      margin: 10px 30px 10px 0px;
      border-radius: 10px;
      height: fit-content;
      input {
        background-color: $red;
        border: 0;
        padding: 18px;
        border-radius: 10px;
        font-size: 18px;
        color: white;
        &::placeholder {
          color: white;
        }
      }
      i {
        color: white;
        padding: 0px 10px;
      }
    }
  }
}

#resultats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1600px;
  margin: auto;
}

//For js

.ingredient--selected {
  background-color: #0366fa;
}

.hidden {
  display: none;
}