body {
  padding: 10px;
  font-family: "Lato", sans-serif;
}

#recherche {
  max-width: 1600px;
  margin: auto;
  .filter-show-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height:normal;
    gap: 3px;


    padding-top: 20px;
    p {
      padding: 10px;
      background-color: #0366fa;
      width: fit-content;
      border-radius: 5px;
      color: white;
    }
  }
  .recherche-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: $grey-light;
    border-radius: 10px;
    margin-bottom: 10px;
    input {
      width: 100%;
      border: 0;
      padding: 25px;
      background-color: $grey-light;
      font-size: 18px;
      border-radius: 10px;
    }
    i {
      font-size: 40px;
      padding: 15px;
    }
  }
  .recherche-inputs {
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
    flex-wrap: wrap;
    .recherche-ingredients {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      background-color: $blue;
      margin: 10px 30px 10px 0px;
      border-radius: 10px;
      height: fit-content;
      position: relative;
      max-width: 60%;
      .input-div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
      }
      input {
        background-color: $blue;
        border: 0;
        padding: 18px;
        border-radius: 10px;
        font-size: 18px;
        color: white;
        &::placeholder {
          color: white;
        }
      }
      i {
        color: white;
        padding: 0px 10px;
        position: absolute;
        right: 0;
      }
    }
    .ingredients-keywords {
      background-color: $blue;
      position: absolute;
      top: 65px;
      width: 645px;
      z-index: 100;
      color: white;
      border: 0;
      padding: 18px;
      border-radius: 10px;
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: fit-content;
        li {
          padding: 10px;
          margin: 2 px;
          border-radius: 5px;
          cursor: pointer;
          width: fit-content;
          min-width: 30%;
          transition: background-color 0.2s ease-in-out;
          &:hover {
            background-color: #0366fa;
          }
        }
      }
    }
    .recherche-appareil {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      background-color: $green;
      margin: 10px 30px 10px 0px;
      border-radius: 10px;
      height: fit-content;
      position: relative;
      max-width: 60%;
      .input-div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
      }
      input {
        background-color: $green;
        border: 0;
        padding: 18px;
        border-radius: 10px;
        font-size: 18px;
        color: white;
        &::placeholder {
          color: white;
        }
      }
      i {
        color: white;
        padding: 0px 10px;
        position: absolute;
        right: 0;
      }
    }
    .appareil-keywords {
      background-color: $green;
      color: white;
      border: 0;
      padding: 18px;
      border-radius: 10px;
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: fit-content;
        li {
          padding: 10px;
          margin: 2 px;
          border-radius: 5px;
          cursor: pointer;
          width: fit-content;
          min-width: 30%;
          transition: background-color 0.2s ease-in-out;
          &:hover {
            background-color: #4b9a75;
          }
        }
      }
    }
    .recherche-ustensiles {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      background-color: $red;
      margin: 10px 30px 10px 0px;
      border-radius: 10px;
      height: fit-content;
      position: relative;
      max-width: 60%;
      .input-div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
      }
      input {
        background-color: $red;
        border: 0;
        padding: 18px;
        border-radius: 10px;
        font-size: 18px;
        color: white;
        &::placeholder {
          color: white;
        }
      }
      i {
        color: white;
        padding: 0px 10px;
        position: absolute;
        right: 0;
      }
    }
    .ustensiles-keywords {
      background-color: $red;
      color: white;
      border: 0;
      padding: 18px;
      border-radius: 10px;
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: fit-content;
        li {
          padding: 10px;
          margin: 2 px;
          border-radius: 5px;
          cursor: pointer;
          width: fit-content;
          min-width: 30%;
          transition: background-color 0.2s ease-in-out;
          &:hover {
            background-color: #bf4e42;
          }
        }
      }
    }
  }
}

#resultats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1600px;
  margin: auto;
}

.tags-active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  .ingredientsUL {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  }
  .ustensilesUL {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  }
  .appareilUL {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  }
  li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin: 2 px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  .ingredients-active {
    background-color: $blue;
  }
  .ustensiles-active {
    background-color: $red;
  }
  .appareil-active {
    background-color: $green;
  }
}

//For js
.ingredients--selected {
  background-color: #0366fa;
}
.ustensiles--selected {
  background-color: #bf4e42;
}
.appareil--selected {
  background-color: #4b9a75;
}

.hidden {
  display: none;
}